<span class="sbar-btn">
  <a href="/projects/new" style="margin-top: 3px; margin-bottom: 9px;">
    <%=  image_tag("new-project.png", :class => "plus-sign") %><%= _("Create A New Project") %></a>
</span

<div class="proj-desc">
  <p>项目描述</p>
</div>

<div id="shared-bin-block" class="sblock bin-block">
  <h3><%= _("Project|List") %></h3>
  <ul id="projects" class="stacked wbadges">
    <%= render :partial => 'dashboard/projectlist', :collection => @projectlist %>
  </ul>
</div>
