<% @projectlist = Project.find_all_projects %>
<% if @projectlist.empty? %>
<div id="noproject" class="blankslate">
  从这里开始 <%= link_to _("Create A New Project"), :controller => 'projects' , :action => 'add_project'  %> »
</div>
<% else %>
  有货！
<% end %>

