<% content_for :project_nav do %>
  <%= render :partial => 'dashboard/nav', :locals => { :tab => "overview" } %>
<% end %>

<% content_for :sbar do %>
  <%= render :partial => 'dashboard/sbar' %>
<% end %>