<ul id="projects" class="stacked wbadges">          
  <li class="proj"><%= link_to "<span class='badge'>??</span>" + projectlist.name, :controller => 'projects' , :action => 'show', :id => projectlist %></li>
</ul>

