<%= error_messages_for 'project' %>
<div class="group">
  <h3><%= _("Create A New Project") %></h3>
  <% form_for :project, :url => { :action => :new }, :html => { :class => "new_project" } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p class="btns right">
      <%= submit_tag _("Save"), :class => "button", :disable_with => _("Saving") %>
    </p>
  <% end %>
</div>
