<% content_for :project_nav do %>
  <%= render :partial => 'dashboard/project_nav', :locals => { :tab => "areas" } %>
<% end %>

<% content_for :action_nav do %>
  <%= render :partial => 'dashboard/project_action_nav', :locals => { :tab => "newarea" } %>
<% end %>

区域